body {
    background-color: aqua;
}
.travel_mainDiv {
border: 6px solid darkblue;
border-radius: 20%;

}
.travel_mainDiv img {
    border-radius: 1000px;
}

#videogamebutton, #videogamebutton2{

 border-radius: 5px;
 padding: 8px;
 color: aliceblue;
 background-color: rgb(72, 108, 175);

}